body {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  position: relative;
  background: transparent;
  user-select: none; /* Disable text selection */
    -webkit-user-drag: none; /* Disable image drag */
    -webkit-user-select: none; /* Disable text selection for older Safari */
    -moz-user-select: none; /* Disable text selection for older Firefox */
    -ms-user-select: none; /* Disable text selection for older IE/Edge */
    -webkit-touch-callout: none; /
}

body::before {
  content: "";
  position: fixed;
  background: url("bg.gif") top right no-repeat;
  background-size: cover;
  background-position: center;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: #18d26e;
  text-decoration: none;
}

a:hover {
  color: #35e888;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}
  .infocardContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
    
        .infocardContainer #main {
          height: 200px;
          width: 200px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
        }
    
        .infocardContainer #main img {
          height: 180px;
          width: 180px;
          transition: none;
          border: 10px solid white;
          margin: 0;
          padding: 0;
          object-fit: cover;
        }
  
    .infocardContainer #textbois {
      position: relative;
    }
    .infocardContainer img:hover {
      /* Start the shake animation and make the animation last for 0.5 seconds */
      animation: shake 4s;
  
      /* When the animation is finished, start again */
      animation-iteration-count: infinite;
    }
  
    @keyframes shake {
      0% {
        transform: translate(1px, 4px) rotate(0deg);
      }
  
      10% {
        transform: translate(-1px, -19px) rotate(-1deg);
      }
  
      20% {
        transform: translate(-3px, 0px) rotate(1deg);
      }
  
      30% {
        transform: translate(4px, 2px) rotate(0deg);
      }
  
      40% {
        transform: translate(1px, -1px) rotate(1deg);
      }
  
      50% {
        transform: translate(-1px, 19px) rotate(-1deg);
      }
  
      60% {
        transform: translate(-3px, 1px) rotate(0deg);
      }
  
      70% {
        transform: translate(3px, 1px) rotate(-1deg);
      }
  
      80% {
        transform: translate(-1px, -1px) rotate(1deg);
      }
  
      90% {
        transform: translate(1px, 2px) rotate(0deg);
      }
  
      100% {
        transform: translate(1px, -2px) rotate(-1deg);
      }
    }

#header * {
  transition: ease-in-out 0.3s;
  text-align: center;
  justify-content: center;
}

#header h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#header h1 a,
#header h1 a:hover {
  color: #ffffff;
  line-height: 1;
  display: inline-block;
  outline: none;
  text-decoration: none;
}

#header h2 {
  font-size: 24px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
}

#header h2 span {
  color: #fff;
  border-bottom: 2px solid #18d26e;
  padding-bottom: 6px;
}

#header img {
  padding: 0;
  margin: 0;
}

#header .social-links {
  margin-top: 40px;
  display: flex;
}

#header .social-links a {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  color: #ffffff;
  line-height: 1;
  margin-right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#header .social-links a:hover {
  background: #0affd6;
}

@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }

  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }

  #header .social-links {
    margin-top: 15px;
  }

  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Header Top */
#header.header-top {
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(231, 229, 229, 0);
}

#header.header-top .social-links,
#header.header-top h2 {
  display: none;
}

#header.header-top h1 {
  margin-right: auto;
  font-size: 36px;
}

#header.header-top img {
  max-height: 60px;
  margin-right: 20px !important;
}

#header.header-top .container {
  display: flex;
  align-items: center;
}

#header.header-top .navbar {
  margin: 0;
}

@media (max-width: 800px) {
  #header.header-top {
    height: 200px;
  }

  #header.header-top h1 {
    font-size: 26px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  /* Center the navigation bar */
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li+li {
  margin-left: 30px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a {
  display: block;
  color: white;
  text-decoration: none;
  position: relative;
}

.navbar a::after {
  content: "";
  background: white;
  mix-blend-mode: exclusion;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  bottom: -4px;
  left: -10px;
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.navbar a:hover::after {
  height: calc(100% + 8px)
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #0df7ff;
}

@media (max-width: 991px) {
  .navbar {
    display: none;
  }

  .mobile-nav-toggle {
    display: none;
  }

  .navbar ul {
    display: none;
  }

  
}

/* Styles for the second navbar */
.menu {
  display: none;
  color: #ffffff;
  position: absolute;
  font-size: large;
  font-style:oblique;
  font-weight: bolder;
  top: 20px;
}

@media (max-width: 991px) {
  .menu {
    display: block;
  }
}

.menu-toggler {
  position: absolute;
  display: block;
  top: 110px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  background: rgb(0, 0, 0);
}

.menu-toggler:hover+label,
.menu-toggler:hover+label:before,
.menu-toggler:hover+label:after {
  background: rgb(0, 0, 0);
}

.menu-toggler:checked+label {
  background: transparent;
}

.menu-toggler:checked+label:before,
.menu-toggler:checked+label:after {
  top: 0;
  width: 40px;
  transform-origin: 50% 50%;
  background: black;
}

.menu-toggler:checked+label:before {
  transform: rotate(180deg) translateY(-70px) translateX(0px);
  background: rgb(255, 0, 89);
}

.menu-toggler:checked+label:after {
  transform: rotate(0deg) translateY(10px) translateX(0px);
  background: rgb(255, 0, 89);
}

.menu-toggler:checked~ul .menu-item {
  opacity: 1;
}

.menu-toggler:checked~ul .menu-item:nth-child(1) {
  transform: rotate(0deg) translate(-80px);
}

.menu-toggler:checked~ul .menu-item:nth-child(2) {
  transform: rotate(60deg) translateX(-70px);
}

.menu-toggler:checked~ul .menu-item:nth-child(3) {
  transform: rotate(120deg) translateX(-70px);
}

.menu-toggler:checked~ul .menu-item:nth-child(4) {
  transform: rotate(180deg) translateX(-70px);
}

.menu-toggler:checked~ul .menu-item:nth-child(5) {
  transform: rotate(240deg) translateX(-70px);
}

.menu-toggler:checked~ul .menu-item:nth-child(6) {
  transform: rotate(300deg) translateX(-70px);
}

.menu-toggler:checked~ul .menu-item a {
  pointer-events: auto;
}

.menu-toggler+label {
  width: 40px;
  height: 5px;
  display: block;
  z-index: 1;
  border-radius: 2.5px;
  background: rgb(255, 255, 255);
  transition: transform 0.5s top 0.5s;
  position: absolute;
  display: block;
    padding-top: 30px;
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.menu-toggler+label:before,
.menu-toggler+label:after {
  width: 40px;
  height: 5px;
  display: block;
  background: rgb(0, 0, 0);
  z-index: 1;
  border-radius: 2.5px;
  background: rgba(255, 255, 255, 0.7);
  transition: transform 0.5s top 0.5s;
  content: "";
  position: absolute;
  display: block;
  left: 0;
}

.menu-toggler+label:before {
  top: 10px;
}

.menu-toggler+label:after {
  top: -10px;
}

.menu-item:nth-child(1) a {
  transform: rotate(10deg);
}

.menu-item:nth-child(2) a {
  transform: rotate(-80deg);
}

.menu-item:nth-child(3) a {
  transform: rotate(-110deg);
}

.menu-item:nth-child(4) a {
  transform: rotate(-210deg);
}

.menu-item:nth-child(5) a {
  transform: rotate(-240deg);
}

.menu-item:nth-child(6) a {
  transform: rotate(-300deg);
}

.menu-item {
  position: absolute;
  display: block;
  top: 130px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: 0.5s;
}

.menu-item a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: 50px;
  color: rgba(0, 0, 0, 0.7);
  background: rgba(8, 8, 154, 0.7);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  pointer-events: none;
  transition: 0.2s;
  background: rgb(24, 218, 252);
}

.menu-item a:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  color: white;
  background: rgba(255, 255, 255, 0.3);
  font-size: 24.44px;
  background: rgb(10, 236, 37);
}

.tooltip {
  visibility: hidden;
  width: auto;
  min-height: 20px;
  /* Minimum height for the tooltip */
  background-color: #333333;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 2px 5px;
  /* Adjust padding as needed */
  position: absolute;
  z-index: 1;
  top: calc(100% + 5px);
  /* Show tooltip below menu item */
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  line-height: 1;
  /* Adjust line height for smaller tooltips */
}

.menu-item:hover .tooltip {
  visibility: hidden;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out 0.4s;
  z-index: 2;
  margin-top :100px;
}

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}

section .container {
  background: rgba(0, 0, 0, 0.9);
  padding: 30px;
}

@media (max-width: 768px) {
  section {
    top: 120px;
  }

  section.section-show {
    top: 80px;
  }
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #4ceb95;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about
{
  color:white;
}
.about-me .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #d2e80f;
}

.about-me .content ul {
  list-style: none;
  padding: 0;
}

.about-me .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about-me .content ul strong {
  margin-right: 10px;
}

.about-me .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #18d26e;
  line-height: 0;
}

.about-me .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: rgba(255, 255, 255, 0.08);
}

.counts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px;
  color: #18d26e;
  border-radius: 50px;
  line-height: 0;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #fff;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: rgba(255, 255, 255, 0.2);
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #18d26e;
}

/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/
.interests .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
  transition: ease-in-out 0.3s;
}

.interests .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.interests .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  color: #fff;
}

.interests .icon-box:hover {
  background: rgba(255, 255, 255, 0.12);
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid #18d26e;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: #fff;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: rgb(0, 0, 0);
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: rgb(254, 254, 254);
  position: relative;
  border-radius: 6px;
  color:black;
  position: relative;
  z-index: 1;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0acbd2;
}


/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume iframe
{
  height: 80vh;
}
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #d21818;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: rgba(250, 0, 0, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #18d26e;
  border: 2px solid #18d26e;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services{
  color:white;
}
.project {
  color: #ffffff;
  /* Bootstrap's primary link color */
  text-decoration: none;
  font-size: large;
  font-style: italic;
  font-weight: bolder;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.project:hover {
  color: #1cdc55;
  /* Darker shade of blue for hover effect */
  text-decoration: underline;
  /* Add underline on hover */
}
.services .icon-box {
  text-align: center;
  background: rgba(255, 255, 255, 0.42);
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #d26918;
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}

.services .icon-box .icon i {
  color: #fff;
  font-size: 28px;
}

.services .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
}

.services .icon-box h4 {
  font-weight: 700;
  color:black;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 {
  color: #fff;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  background: #18b6d2b5;
  border-color: #d218b6;
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #18d26e;
}

.services .icon-box:hover .icon::before {
  background: #35e888;
}

.services .icon-box:hover h4 ,
.services .icon-box:hover p {
  color: #fff;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 3px 10px 3px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: #18d26e;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #63eda3;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.portfolio-details .container {
  padding-top: 20px;
  padding-bottom: 40px;
}

.portfolio-details .portfolio-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-info {
  padding-top: 45px;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-info p {
  font-size: 15px;
  padding: 15px 0 0 0;
}

@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }
}

.portfolio-details .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #18d26e;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  padding: 20px;
  width: 100%;
  background: rgba(255, 255, 255, 0.08);
}

.contact .info-box i.bx {
  font-size: 24px;
  color: #18d26e;
  border-radius: 50%;
  padding: 14px;
  float: left;
  background: rgba(255, 255, 255, 0.1);
}

.contact .info-box h3 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}

.contact .info-box p {
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}

.contact .info-box .social-links {
  margin: 5px 0 0 68px;
  display: flex;
}

.contact .info-box .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #ffffff;
  line-height: 1;
  margin-right: 12px;
  transition: 0.3s;
}

.contact .info-box .social-links a:hover {
  color: #18d26e;
}

.contact .php-email-form {
  padding: 30px;
  background: rgba(255, 255, 255, 0.08);
}

.contact .php-email-form .error-message {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.08);
  border: 0;
  transition: 0.3s;
  color: #fff;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  background-color: rgba(255, 255, 255, 0.11);
}

.contact .php-email-form input::-moz-placeholder,
.contact .php-email-form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input::placeholder,
.contact .php-email-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #18d26e;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #15bb62;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.credits {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  text-align: right;
  font-size: 13px;
  color: #fff;
  z-index: 999999;
}

@media (max-width: 992px) {
  .credits {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
  }
}

.credits a {
  color: #18d26e;
  transition: 0.3s;
}

.credits a:hover {
  color: #fff;
}

  
    .big-bubble {
      width: 20px;
      /* Adjusted size */
      height: 20px;
      /* Adjusted size */
      background-color: rgba(255, 0, 0, 0.7);
      /* Red color for big bubble */
      border-radius: 50%;
      position: absolute;
      pointer-events: none;
      transition: transform 0.2s ease-out;
      animation: boil 1s ease-in-out infinite alternate;
      z-index: 999;
      /* Ensure the big bubble is on top */
    }
  
    .small-bubble {
      background-color: rgba(0, 150, 255, 0.7);
      /* Blue color for small bubbles */
      border-radius: 50%;
      position: relative;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.2s ease-out, transform 0.2s ease-out;
      animation: boil 1s ease-in-out infinite alternate;
      z-index: 998;
      /* Ensure the small bubbles are on top of other content */
    }
  
    .small-bubble.small {
      width: 5px;
      height: 5px;
    }
  
    .small-bubble.medium {
      width: 7px;
      height: 7px;
    }
  
    .small-bubble.large {
      width: 10px;
      height: 10px;
    }
  
    @keyframes boil {
      0% {
        transform: scale(1);
      }
  
      100% {
        transform: scale(1.1);
      }
    }
